a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none; /* 마우스 오버 시에도 밑줄 제거 */
}

.search-container {
    padding: 20px;
  }
  
  .search-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .search-results {
    font-size: none;
    list-style: none;
    padding: 0;
  }
  
  .search-item {
    background-color: #1e1e1e;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-bottom: 0px;
  }
  
  .search-item h3 {
    background-color: #1e1e1e;
    margin: 0 0 10px;
    font-size: 30px;
    font-style: none;
  }
  
  .search-item p {
    margin: 0 0 10px;
    font-size: 18px;
    color: #999;
    background-color: #1e1e1e;
  }
  
  .post-meta {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #999;
    background-color: black;
  }

  .post-meta span {
    background-color: #1e1e1e;
    text-decoration: none;
  }
  

  .pagination {
    display: flex; /* 버튼들을 가로로 정렬 */
    justify-content: center; /* 중앙 정렬 */
    margin-top: 20px; /* 상단 여백 */
    margin-bottom: 30px;
  }
  
  .page-button {
    margin: 0 5px; /* 버튼 간 간격 */
    padding: 8px 12px; /* 버튼 내부 여백 */
    font-size: 14px; /* 버튼 글자 크기 */
    border: 1px solid white; /* 버튼 테두리 */
    border-radius: 4px; /* 둥근 테두리 */
    background-color: #1e1e1e; /* 기본 배경색 */
    color: white; /* 기본 글자색 */
    cursor: pointer; /* 마우스 오버 시 포인터 표시 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 효과 */
  }
  
  .page-button.active {
    background-color: #888; /* 활성화된 버튼 배경색 */
    color: #fff; /* 활성화된 버튼 글자색 */
    border-color: white; /* 활성화된 버튼 테두리 */
  }
  
  .page-button:hover {
    background-color: #e2e6ea; /* 마우스 오버 시 배경색 */
    color: #007bff; /* 마우스 오버 시 글자색 */
    border-color: #007bff; /* 마우스 오버 시 테두리색 */
  }
  
  .page-button:disabled {
    background-color: #f8f9fa; /* 비활성화된 버튼 배경색 */
    color: #adb5bd; /* 비활성화된 버튼 글자색 */
    border-color: #ccc; /* 비활성화된 버튼 테두리 */
    cursor: not-allowed; /* 비활성화된 버튼 커서 */
  }
  